@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #17254e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00c2cb;
  border-radius: 10px;
  border: none;
}
